<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple nodejs app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/chat.css" />
</head>
<style>

</style>

<body style="overflow-x: hidden;">
    <div class="chatting">
        <div class="chat-wrap chat-border">
            <div class="chat-start text-center pb-2 pt-4" style="border-bottom: 1px solid #c0c0c0;">
                <i class="fa fa-commenting" aria-hidden="true"></i><span> Chat started by</span> <span id="startedBy"></span> - <span id="startTime">startTime</span>
            </div>
            <div class="chat-body p-3">
            </div>
            <div class="chat-end text-center pt-2 pb-4" style="border-top: 1px solid #c0c0c0;display: none;">
                <i class="fa-solid fa-comment-slash"></i><span> Chat ended by</span> <span id="endedBy"></span> - <span id="endTime">Endtime</span>
            </div>
            <div class="chat-offline text-center pt-2 pb-4" style="border-top: 1px solid #c0c0c0;display: none;">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-triangle-exclamation text-warning me-2" style="font-size: 20px;"></i><span> You are offline! Please check internet connection.</span>
                </div>
            </div>
        </div>
       <div class="chat-button chat-border p-1" >
            <div class="d-flex justify-content-between" style="position: relative;">
                <div class="chat-button-feature d-flex justify-content-between" style="width: 70px;">
                    <div style="position: relative;">
                        <div class="file-picker border" style="display: none;">
                            <div id="drop-zone" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event)">
                                <div class="file-picker-block drag-over-block" style="display: none;">
                                    <i class="fa-solid fa-download mb-3" style="color: #5249ac;font-size: 50px"></i>
                                    <div class="mb-1" style="font-size: 16px;"><b>Drop file here</b></div>
                                </div>
                                <div class="drop-file-block">
                                    <div class="file-picker-block valid-file" >
                                        <i class="fa-solid fa-cloud-arrow-up mb-3" style="color: #5249ac;font-size: 50px"></i>
                                        <div class="mb-1" style="font-size: 16px;"><b>Drag or drop files or </b> <b class="browse-file">Browse</b></div>
                                        <div>Supported formates: image, pdf, excel, word, zip, rar, limited 20MB</div>
                                    </div>
                                    <div class="file-picker-block invalid-file" style="display: none;" >
                                        <div class="d-flex justify-content-center align-items-center mb-1">
                                            <i class="fa-solid fa-file me-2 file-picker-icon" style="color: #5249ac;font-size: 50px"></i> 
                                            <div class="file-name file-picker-name" style="line-break: anywhere;max-width: 200px;" ></div>
                                        </div>
                                        <div class="text-danger file-invalid-msg mb-2"></div>
                                        <div class="mb-1" style="font-size: 16px;"><b>Drag or drop another files or </b> <b class="browse-file">Browse</b></div>
                                        <div>Supported formates: image, pdf, excel, word, zip, rar, limited 20MB</div>
                                    </div>
                                </div>
                            </div>
                            
                            <input id="file-input" hidden type="file" />
                        </div>
                        <div class="file-button icon-button d-flex justify-content-center align-items-center chat-border" style="position: relative;">
                            <i  class="fa fa-paperclip" title="Attach file" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div style="position: relative;">
                        <emoji-picker class="emoji-picker" style="display: none;"></emoji-picker>
                        <div class="icon-button d-flex justify-content-center align-items-center chat-border emoji-button" >
                            <i class="fa-regular fa-face-smile-beam" title="Emoji"></i>
                        </div>
                    </div>
                    
                </div>
                <button class="btn btn-sm btn-danger end-chat" style="width: 90px;">End Chat</button>
                <div class="end-chat-popover chat-border p-3" style="display: none;">
                    <div class="mb-4">Are you sure you want to end this chat?</div>
                    <div class="text-end">
                        <button type="button" class="btn btn-sm btn-light border end-chat-cancel" style="width: 70px;color: #018be0;">Cancel</button>
                        <button class="btn btn-sm btn-danger btn-end-chat" style="width: 90px;">End Chat</button>
                    </div>
                </div>
            </div>
       </div>
       <textarea id="chat-box" class="chat-box chat-border p-2" placeholder="Type a message..." style="border-radius: 0px 0px 5px 5px;" rows="4"></textarea>
    </div>
    
    <pre id="preview"></pre>
    <div class="loadding-socket modal fade" style="position: absolute;
    top: 50%;
    left: 50%;">
        <div class="loader"></div>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="socketConnect" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body d-flex align-items-center">
            <div class="spinner-border me-2" style="color: #3498db;"></div>
            <div>Connecting to the chat server</div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Client mustache -->
<script id="client-text" type="x-tmpl-mustache">
    <div class="client-msg justify-content-start mb-2" id={{msgId}}>
        <div class="d-flex">
            <img src="{{avatar}}" alt="avt" class="client-avatar"/>
            <div>
                <pre class="client-msg-body p-2">{{text}}</pre>
                <div class="ml-1">{{name}} • {{time}}</div>
            </div>
        </div>
    </div>
</script>
<script id="client-img" type="x-tmpl-mustache">
    <div class="client-msg d-flex justify-content-start mb-2" id={{msgId}}>
        <div class="d-flex">
            <img src="{{avatar}}" alt="avt" class="client-avatar"/>
            <div>
                <div class="client-msg-img border" style="position: relative">
                    <div class="wrap-preview">
                        <a class="file-preview" href='{{url}}' target='blank'>
                            <div class="img-preview" style="background-image: url('{{url}}')"></div>
                            <i class="fa-solid fa-eye icon-preview-hover"></i>
                        </a>
                    </div>
                    
                    <div class="file-title d-flex align-items-center p-2">
                        <i class="fa-solid fa-image icon-preview" style="color: green"></i>
                        <div class="file-name">{{fileName}}</div>
                    </div>
                </div>
                <div class="ml-1">{{name}} • {{time}}</div>
            </div>
        </div>
    </div>
</script>
<script id="client-file" type="x-tmpl-mustache">
    <div class="client-msg d-flex justify-content-start mb-2" id={{msgId}}>
        <div class="d-flex">
            <img src="{{avatar}}" alt="avt" class="client-avatar"/>
            <div>
                <div class="client-msg-file border" style="position: relative">
                    <div class="wrap-preview">
                        <a class="file-preview d-flex align-items-center justify-content-center" href='{{url}}' target='blank'>
                            <i class="fa-solid {{icon}} icon-preview-large" style="color: {{iconColor}};font-size: 50px;"></i> 
                            <i class="fa-solid fa-download icon-preview-hover"></i>
                        </a>
                    </div>
                   
                    <div class="file-title d-flex align-items-center p-2">
                        <i class="fa-solid {{icon}} icon-preview" style="color: {{iconColor}}"></i> 
                        <div class="file-name">{{fileName}}</div>
                    </div>
                </div>
                <div class="ml-1">{{name}} • {{time}}</div>
            </div>
        </div>
    </div>
</script>
<script id="client-sticker" type="x-tmpl-mustache">
    <div class="client-msg d-flex justify-content-start mb-2" id={{msgId}}>
        <div class="d-flex">
            <img src="{{avatar}}" alt="avt" class="client-avatar"/>
            <div>
                <div class="client-msg-stickers">
                    <img src="{{url}}" width="150" height="150" alt="stickers"/>
                </div>
                <div class="ml-1">{{name}} • {{time}}</div>
            </div>
        </div>
    </div>
</script>

<!-- Agent mustache -->
<script id="agent-text" type="x-tmpl-mustache">
    <div class="agent-msg d-flex justify-content-end mb-2" id={{msgId}}>
        <div class="agent-msg-block d-flex flex-column align-items-end">
            <pre class="agent-msg-body p-2">{{text}}</pre>
            <div class="text-end">{{name}} • {{time}}<span class="msg-status-block" style="display:none"> • <span class="msg-status">Sending</span></span></div>
        </div>
    </div>
</script>
<script id="agent-img" type="x-tmpl-mustache">
    <div class="agent-msg d-flex justify-content-end mb-2" id={{msgId}}>
        <div class="agent-msg-block d-flex flex-column">
            <div class="client-msg-img border" style="position: relative">
                <div class="wrap-preview">
                    <a class="file-preview" href='{{url}}' target='blank'>
                        <div class="img-preview" style="background-image: url('{{url}}')"></div>
                        <i class="fa-solid fa-eye icon-preview-hover"></i>
                    </a>
                </div>
                <div class="file-title d-flex align-items-center p-2">
                    <i class="fa-solid fa-image icon-preview" style="color: green"></i>
                    <div class="file-name">{{fileName}}</div>
                </div>
            </div>
            <div class="text-end">{{name}} • {{time}}<span class="msg-status-block" style="display:none"> • <span class="msg-status">Sending</span></span></div>
        </div>
    </div>
</script>
<script id="agent-file" type="x-tmpl-mustache">
    <div class="agent-msg d-flex justify-content-end mb-2" id={{msgId}}>
        <div class="agent-msg-block d-flex flex-column">
            <div class="client-msg-file border" style="position: relative">
                <div class="wrap-preview">
                    <a class="file-preview d-flex align-items-center justify-content-center" href='{{url}}' target='blank'>
                        <i class="fa-solid {{icon}} icon-preview-large" style="color: {{iconColor}};font-size: 50px;"></i> 
                        <i class="fa-solid fa-download icon-preview-hover"></i>
                    </a>
                </div>
               
                <div class="file-title d-flex align-items-center p-2">
                    <i class="fa-solid {{icon}} icon-preview" style="color: {{iconColor}}"></i> 
                    <div class="file-name">{{fileName}}</div>
                </div>
            </div>
            <div class="text-end">{{name}} • {{time}}<span class="msg-status-block" style="display:none"> • <span class="msg-status">Sending</span></span></div>
        </div>
    </div>
</script>

<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js" type="module" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/public/js/chat.js"></script>
</html>